*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #141922;
}

img{
    width: 100%;
    height: 100%;
}

/* Spotify premium banner (fixed) */
.upgrade{
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.39);
    position: fixed;
    z-index: 500;
    top: 0;
    display: flex;
    justify-content: end;
}
    
    .upgrade-button{
        color: #fff;
        font-weight: 800;
        padding: 15px 60px;
        height: 50px;
        margin: 20px;
        border: rgb(255, 255, 255) solid 1px;
        border-radius: 25px;
    }

/* Horizontal Nav (fixed)  */
.sidenav{
    min-width: 230px;
    max-width: 230px;
    height: calc(100% - 90px);
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 600;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

    .spotify-logo{
        min-height: 90px;
        max-height: 90px;
        width: 230px;
        /* background-color: aqua; */
    }

        .size{
            padding-top: 20px;
            padding-bottom: 30px;
            padding-left: 20px;
            padding-right: 40px;
        }

    .nav-options{
        min-height: 115px;
        max-height: 115px;
        width: 230px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

        .option{
            width: 100%;
            height: calc(100% / 3);
            /* border: red solid 1px; */
            display: flex;
            color: #fff;
            font-size: 15px;
            padding-left: 20px;
            align-items: center;
        }

            #home{
            box-shadow: inset 3px 0px 0px #b9ff32;
            }
        
            .option-icon{
                width: 20px;
                height: 20px;
            }

            .option-name{
                padding-left: 10px;
                font-weight: 600;
                padding-top: 2px;
            }

    .playlist-options{
        min-height: 80px;
        max-height: calc(100% - 165px);
        width: 230px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        color:#fff
    }

        .playlist{
            min-height: 15px;
            max-height: 15px;
            width: 100%;
            /* border: red solid 1px; */
            margin-bottom: 10px;
            font-size: 12px;
            font-weight: bold;
        }

        .new-playlist{
            min-height: 35px;
            max-height: 35px;
            width: 100%;
            /* border: red solid 1px; */
            margin-bottom: 20px;
            display: flex;
        }

            .create-button{
                width: 35px;
                height: 35px;
                background-color: #fff;
                text-align: center;
                padding: 7px;
                font-size: 18px;
                color: #000;
            }

            .new-playlist-text{
                padding-left: 10px;
                padding-top: 8px;
                font-size: 13px;
                font-weight: 600;
            }

        .playlist-list{
            height: 20000px;
            overflow: scroll;
            overflow-x: hidden;
        }

            .playlist-title{
                min-height: 15px;
                max-height: 15px;
                width: 100%;
                /* border: red solid 1px; */
                margin-bottom: 25px;
                font-size: 11px;
                font-weight: 500;
            }

    .nav-footer{
        margin-left: 8%;
        margin-right: 8%;
        width: 80%;
        min-height: 75px;
        max-height: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: red solid 1px; */
    }

        .download{
            padding-top: 8px;
            width: 100%;
            min-height: 30px;
            max-height: 30px;
            display: flex;
            /* border: red solid 1px; */
        }

            .download-icon{
                width: 15px;
                min-height: 15px;
                max-height: 15px;
            }

            .download-text{
                padding-left: 10px;
                color: #fff;
                font-size: 12px;
                font-weight: 500;
            }

        .profile{
            width: 100%;
            min-height: 45px;
            max-height: 45px;
            border-top: rgb(255, 255, 255) solid 1px;
            display: flex;
            padding-top: 10px;
        }

            .profile-icon{
                padding:3px;
                width: 25px;
                min-height: 25px;
                max-height: 25px;
                background-color: rgba(255, 255, 255, 0.389);
                border-radius: 50%;
            }

            .profile-name{
                padding-top: 3px;
                padding-left: 10px;
                color: #fff;
                font-size: 16px;
                font-weight: 700;
            }


/* Songs, playlists and artists  */

main{
    width: calc(100% - 230px);
    height: 10000px;
    margin-top:90px;
    margin-left: 230px;
    margin-bottom: 90px;
    border: #fff solid 1px;
    display: flex;
    flex-direction: column;
}

    .genres{
        width: 100%;
        display: flex;
        justify-content: center;
        /* border: red solid 1px; */
    }

        .genres-container{
            width: 1000px;
            display: flex;
            justify-content: center;
            /* border: red solid 1px; */
            align-items: center;
            flex-wrap: wrap;
            
        }

            .genre{
                width: calc(1000px / 6);
                height: 40px;
                resize: none;
                /* border: red solid 1px; */
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                position: relative;
            }

                .colored-border{
                    position: absolute;
                    width: 30%;
                    border: #52ff2f solid 2px;
                    bottom: 0;
                }

    .songs-playlists{
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: red solid 1px;
        align-items: center;

    }

        .recents{
            width: 100%;
            height: 50px;
            border: red solid 1px;
            color: #fff;
            font-size: 30px;
            font-weight: 700;
        }
    
        .music-container{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            border: red solid 1px;
        }

            .music-card{
                width: calc((1500px) / 6);
                resize: none;
                height: 300px;
                border: red solid 1px;
                margin-left: 25px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

                .artwork{
                    width: calc((1200px) / 6);
                }

/* Music controls (fixed)  */
 .player{
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    background-color: #282828;
    z-index: 999;
    display: flex;
    justify-content: space-between;
 }

    .playing{
        min-width: 230px;
        max-width: 230px;
        height: 100%;
        /* border: red solid 1px; */
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-top: 19px;
        padding-bottom: 19px;
    }

        .now-playing-container{
            display: flex;
        }

            .albumart-player{
                width: 50px;
                height: 50px;
                /* border: red solid 1px; */
            }

            .song-info-player{
                /* border: red solid 1px; */
                display: flex;
                flex-direction: column;
                width: 100px;
                padding-top: 10px;
                font-size: 12px;
                color: #fff;
            }

                .album-player{
                    /* border: red solid 1px; */
                    height: 35%;
                    padding-left: 10px;
                    font-weight: 700;
                }

                .song-player{
                    /* border: red solid 1px; */
                    height: 35%;
                    padding-left: 10px;
                    font-weight: 200;
                }

            .like-save{
                /* border: red solid 1px; */
                display: flex;
                justify-content: end;
                width: 70px;
                padding-top: 10px;
                font-size: 12px;
                color: #fff;
                font-size: 15px;
                padding-top: 15px;
            }

                .like{
                    width: 25px;
                    height: 25px;
                }

                .save{
                    width: 25px;
                    height: 25px;
                }

    .player-main{
        width: 40%;
        height: 100%;
        /* border: red solid 1px; */
        display: flex;
        flex-direction: column;
    }

        .upperpart-player{
            /* border: red solid 1px; */
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            padding-top: 8px;
        }

            .up-player-button{
                padding-top: 15px;
                width: 40px;
                height: 40px;
                color:#fff;
            }

                #play{
                    padding-top: 7px;
                    width: 60px;
                    height: 40px;
                    font-size: 30px;
                }



        .bottompart-player{
            /* border: red solid 1px; */
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-between;
        }

            .time{
                /* border: red solid 1px; */
                width: 10%;
                height: 100%;
                font-size: 12px;
                padding-top: 14px;
                display: flex;
                justify-content: center;
                color: #fff;
            }

            .timeline-cont{
                width: 80%;
                padding: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .progress{
                    border: rgb(255, 255, 255) solid 3px;
                    width: 30%;
                    border-radius: 10px;
                }

                .timeline{
                    border: rgb(102, 102, 102) solid 3px;
                    width: 70%;
                    border-radius: 10px;
                }

                .circleslider{
                    color: #fff;
                    width: 16px;
                    height: 17px;
                    display: none;
                }

    .volume-dev-queue{
        min-width: 230px;
        max-width: 230px;
        height: 100%;
        /* border: red solid 1px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        font-size: 13px;
    }

        .right-side-button{
            width: 10%;
            height: 30px;
            /* border: red solid 1px; */
            display: flex;
            align-items: center;
        }

        .volume-slider{
            width: 65%;
            height: 30px;
            padding: 0 10px;
            /* border: red solid 1px; */
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .progress:hover{
        border: #52ff2f solid 3px;
    }

    .progress:hover + .circleslider{
        display: block;
    }